<ng-container *ngFor="let es of estudiante">
<div class="container home-container" *ngIf="es.id == id_estudiante">
    <div class="row">
        <div class="col-4">
            <img src="{{es.imagen}}" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    Datos Personales
                </div>
                   
                        <div class="card-body">

                            <h5 class="card-title">{{es.profesion}}</h5>
                            <p class="card-text">{{es.nom_estudiante}} - {{es.ape_estudiante}}</p>
                            <a routerLink="/listStudents" class="btn btn-primary">Regresar</a>

                </div>           
            </div>
        </div>
    </div>
</div>
</ng-container>